.content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url("https://utex.hcmute.edu.vn/pluginfile.php/1/theme_maker/loginbgimage/1634220818/57f4e15cb6bc4be212ad.jpg");
    height: 100vh;
}

.main {
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 4px 14px #03030342;
    border-radius: 30px;
    max-height: 75vh;
    margin-left: 180px;
    margin-top: 100px;
    width: 75%;
    box-shadow: 0 0 1em #e6e9f9;
}

.main__menu {
    width: 60%;
}

.main__menu--tool {
    background-color: #e4e3e236;
    border-radius: 0px 30px 30px 0px;
    height: 100%;
    padding: 25px 63px 25px 63px;
}

.main__menu--tool-heading {
    font-size: 40px;
    font-weight: bold;
    color: #373941;
    text-align: center;
}

.main__menu--tool-heading-h2 {
    font-size: 17px;
    margin-top: -80px;
    margin-left: 85px;
}

.main__menu--tool-heading-h3 {
    font-size: 19px;
    margin-top: -130px;
    margin-left: 65px;
}



.main__menu--tool-form1 {
    margin-left: 20px;
    margin-top: -150px;
}

.main__menu--tool-form2 {
    margin-left: 20px;
    margin-top: -170px;
}

.textlabel {
    width: 700px;
    margin: 20px 0px 0px 30px;
    max-height: 75vh;

}

.text {
    display: block;
    height: 65vh;
    width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.filebutton {
    width: 210px;
}

.submit-button {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 250, 159);
}

.submit-button:hover {
    background-color: rgb(54, 243, 54);
}



.download-word {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 250, 159);
    height: 25px;
    margin-left: -30px;
}

.download-word:hover {
    background-color: rgb(54, 243, 54);
}

.download-csv {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 250, 159);
    height: 25px;
}

.download-csv a {
    text-decoration: none;
    color: black;
}

.download-csv:hover {
    background-color: rgb(54, 243, 54);
}

.download-xls {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 250, 159);
    height: 25px;
    margin-right: -30px;
}

.download-xls:hover {
    background-color: rgb(54, 243, 54);
}